# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# postgres://postgres.ejndaaeplrydtiootmkr:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres

# i use supabase (psql) for my database
DATABASE_URL=

# this is the secret key for jwt
AUTH_SECRET=

# get it from github developer settings
GITHUB_ID=
GITHUB_SECRET=

# get it from google developer settings
GOOGLE_SECRET=
GOOGLE_ID=

#get it from resend.io
RESEND_API_KEY=

